In [2]:
import pandas as pd

df = pd.read_csv('all_stocks_5yr_cleaned.csv')

In [3]:
df.head()

,date,open,high,low,close,volume,Name,log_close,price_range,price_change,percent_change_close,rolling_avg_7,rolling_std_7,log_volume
0,2013-02-19,14.33,14.56,14.08,14.26,11354400,AAL,2.725235,0.48,-0.07,-0.488486,14.412857,0.260494,16.245116
1,2013-02-20,14.17,14.26,13.15,13.33,14725200,AAL,2.662355,1.11,-0.84,-5.928017,14.210000,0.443095,16.505071
2,2013-02-21,13.62,13.95,12.90,13.37,11922100,AAL,2.665143,1.05,-0.25,-1.835536,14.054286,0.524622,16.293904
3,2013-02-22,13.57,13.60,13.21,13.57,6071400,AAL,2.678965,0.39,0.00,0.000000,13.954286,0.543043,15.619100
4,2013-02-25,13.60,13.76,13.00,13.02,7186400,AAL,2.640485,0.76,-0.58,-4.264706,13.720000,0.541603,15.787701

In [4]:
#Define a function to format volume numbers with commas
def human_readable_volume(v):
    return f"{int(v):,}"

In [5]:
# creating the empty lst to store the formatted volumes
formatted_volumes = []
# Loop through the 'Volume' column and format each value
for volume in df['volume']:
    formatted_volumes.append(human_readable_volume(volume))
# Assign the formatted volumes back to the DataFrame
df['Formatted_Volume'] = formatted_volumes
# Save the modified DataFrame to a new CSV file
df.to_csv('all_stocks_5yr_with_formatted_volume.csv')
# Display the first few rows of the modified DataFrame  
print(df.head())

         date   open   high    low  close    volume Name  log_close  \
0  2013-02-19  14.33  14.56  14.08  14.26  11354400  AAL   2.725235
1  2013-02-20  14.17  14.26  13.15  13.33  14725200  AAL   2.662355
2  2013-02-21  13.62  13.95  12.90  13.37  11922100  AAL   2.665143
3  2013-02-22  13.57  13.60  13.21  13.57   6071400  AAL   2.678965
4  2013-02-25  13.60  13.76  13.00  13.02   7186400  AAL   2.640485

   price_range  price_change  percent_change_close  rolling_avg_7  \
0         0.48         -0.07             -0.488486      14.412857
1         1.11         -0.84             -5.928017      14.210000
2         1.05         -0.25             -1.835536      14.054286
3         0.39          0.00              0.000000      13.954286
4         0.76         -0.58             -4.264706      13.720000

   rolling_std_7  log_volume Formatted_Volume
0       0.260494   16.245116       11,354,400
1       0.443095   16.505071       14,725,200
2       0.524622   16.293904       11,922,100
3       0.543043   15.619100        6,071,400
4       0.541603   15.787701        7,186,400

In [6]:
#Create a readable sentence from the row's data

def create_readable_sentence(row):
    return (f"On {row['date']}, the stock {row['Name']} opened at ${row['open']:.2f}, closed at ${row['close']:.2f}, had a high of ${row['high']:.2f}, a low of ${row['low']:.2f}, and traded a volume of {row['Formatted_Volume']}.")

In [ ]:
# Loop over each row and generate text chunks
text_chunks = []
for _, row in df.iterrows():
    sentence = create_readable_sentence(row)
    text_chunks.append(sentence)

In [12]:
#Loop over each row and generate text chunks
with open("financial_text_chunks.txt", "w") as f:
    for line in text_chunks:
        f.write(line + "\n")

In [11]:
# Confirm success
print(f"✅ Saved {len(text_chunks)} text chunks to 'financial_text_chunks.txt'")

✅ Saved 619023 text chunks to 'financial_text_chunks.txt'